<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masago.mapper.MstInfoMapper">
  <resultMap id="MstAuthorityResultMap" type="com.masago.bean.MstAuthorityBean">
    <result column="authority_cd" jdbcType="VARCHAR" property="authorityCd" />
    <result column="authority_name" jdbcType="VARCHAR" property="authorityName" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="MstAuthority_Column_List">
    authority_cd,
    authority_name,
    memo,
    create_user,
    create_date,
    update_user,
    update_date
  </sql>
  <sql id="MstAuthorityWhere">
  	<trim prefix="where" prefixOverrides="and|or">
  		<if test="authorityCd != '' and authorityCd != null">
  			authority_cd = #{authorityCd, jdbcType=VARCHAR}
  		</if>
  	</trim>
  </sql>
  <select id="selectMstAuthorityInfo" resultMap="MstAuthorityResultMap">
  	select
  	<include refid="MstAuthority_Column_List"/>
  	from tb_mst_authority_info
  	<include refid="MstAuthorityWhere"/>
  	order by authority_cd asc
  </select>

</mapper>